body{
	background-color: #272e30;
	color: #fff;
	font-size: 10px;
}
.clear{
	clear: both;
}
.zeroPadding{
	padding: 0;
}
.cust-header{
	padding: 20px 0 0;
}
.cust-header img{

}
.cust-menu img {
    width: 20s%;
}
.cust-logo img {
    width: 30%;
    margin-left: 60px;
}
.cust-header-right-list img{
	width: 15%;
    margin: 0 5px;
}
.cust-search img{
	width: 10%;
}
.cust-notification img{
	width: 8%;
}
.profile-text{
	display: inline-block; 
	width: 60px; 
	text-align: right;
	line-height: 1;
}
.profile-text span{
	display: inline-block;
}
.cust-profile-downarrow img{
	width: 5%;
	margin: 0 0;
}
.cust-header-right-list{
	padding-right: 0;
}
/*Media queiries*/


@media only screen and (min-device-width : 900px) and (max-device-width : 1024px) {
	.cust-menu {
		padding-top: 10px;
		padding-left: 7px;
	}
	.cust-icon{
		padding-top: 7px;
	}
	.cust-icon img {
	    width: 8%;
	}
	.cust-logo img {
        width: 45%;
    	margin-left: -70px;
	}
	.cust-header-right-list img{
		width: 13%;
	    margin: 0 5px;
	}
	.cust-search img{
		width: 8%;
	}
	.cust-notification img{
		width: 6%;
	}
	.cust-profile-downarrow img{
		width: 5%;
		margin: 0 0;
	}

	.cust-header-right-list-inner{
		float:right;
		margin-right: -84px;
	}

	.profile-text{
		margin-top: 5px;
	}

	.bannerSection{
		padding-bottom: 10px;
	}

	.quick-menu .col-md-3 {
	    width: 19.99%;
	    height: 120px;
	    background-size: 100%;
	    padding: 10px 0 0 0;
	}
	#qm-appointment {
	    background-image: url(../images/Appointment_Bitman.png);
	}
	#qm-leads {
	    background-image: url(../images/Leads_Bitman.png);
	}
	#qm-leads img {
	    width: 35%;
	}
	#qm-target {
	    background-image: url(../images/Target_Bitman.png);
	}
	#qm-training-kit {
	    background-image: url(../images/Sales_Training_Bitman.png);
	}
	#qm-notes {
	    background-image: url(../images/Notes_Bitman.png);
	}
	#qm-notes img {
	    width: 34%;
	}
	.quick-menu-title {
	    text-align: center;
	}
	.quick-menu img {
	    width: 46%;
	    margin-left: auto;
	    padding: 18px 0;
	    display: block;
	}
	.quick-menu-text {
	    font-size: 51px;
	    padding: 0;
	}
}
